main {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/254/680/non_2x/cinema-background-concept-vector.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100vh;
}

.contenedor-principal {
    background-color: rgba(0, 0, 0, 0.808);
}

.modal-imagen {
    background-color: rgba(41, 41, 41, 0.432) !important;
}

.boton-modal:hover {
    background-color: rgb(252, 143, 0) !important;
}

#reseñas>div>input, #reseñas>div>textarea {
    background-color: rgba(255, 255, 255, 0.233);
}

.foto-modal {
    border-radius: 20px;
}

.boton-modal {
    background-color: rgb(156, 156, 156) !important;
}
.boton-modal>button {
    height: 70%;
    width: 80%;
}

@media only screen and (max-width: 991px) {
    .foto-modal {
        width: 85%;
    }
}
