body {
    background-color: black !important;
}

main {
    font-family: 'Roboto', sans-serif;
}

.boton-principal {
    background-color: #DEB522 !important;
    font: bold;
}

#navbar-color {
    background-color: rgb(8, 8, 8) !important;
    font-family: 'IBM Plex Sans', sans-serif;
}
.titulos {
    color: #DEB522;
    font-family: 'Roboto', sans-serif;
}

.actor:hover {
    background-color: rgb(8, 8, 8) !important;
}
.actor h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    
}

.categorias a {
    font-family: 'Roboto', sans-serif;
    border-radius: 0% !important;
    background-color: rgb(8, 8, 8) !important;
}
.categorias>div {
    padding: 0.3% !important;
}

.boton {
    background-color: #DEB522 !important;
    color: black !important;
    font: bold;
}

video {
    width: 100%;
    height: 100%;
}

.cat {
    height: 90px !important;
}

.noticias {
    background-color: rgb(8, 8, 8) !important;
    text-decoration: none;
    color: white;
}
.noticias img {
    height: 150px !important;
}

.noticias p {
    font-size: 70%;
    margin: 0%;
}

#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}

.boton-principal:hover {
    border: 2px solid black !important;
    color: rgb(20, 20, 20) !important;  
}

.prox-titulo {
    color: white !important;
}
.prox-p {
    color: gray;
}
.prox-p:hover {
    color: #DEB522;;
}

/*Inicio texto oculto*/
.peli-serie:hover {
    background-color: rgb(10, 10, 10);
}
.peli-serie>p {
    background-color: rgb(8, 8, 8);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*Fin texto oculto*/

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(134, 134, 134) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */

@media only screen and (min-width: 1918px) {
    .noticias img {
        height: 100% !important;
    }
    .noticias p, .noticias h6 {
        font-size: 25px;
    }
}