main {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/254/680/non_2x/cinema-background-concept-vector.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100vh;
}

#navbar-color {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black !important;
}

#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}

.contenedor-principal {
    background-color: rgba(0, 0, 0, 0.808);
}

.modal-imagen {
    background-color: rgba(41, 41, 41, 0.432) !important;
}

.boton-modal:hover {
    background-color:#DEB522 !important;
}

#reseñas>div>input, #reseñas>div>textarea {
    background-color: rgba(255, 255, 255, 0.233);
}

.foto-modal {
    border-radius: 20px;
}

.boton-modal {
    background-color: rgb(156, 156, 156) !important;
}
.boton-modal>button {
    height: 70%;
    width: 80%;
}

@media only screen and (max-width: 991px) {
    .foto-modal {
        width: 85%;
    }
}

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(134, 134, 134) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */