body{
    background-color: black;
    background-image: url(http://2.bp.blogspot.com/-QPOBifpgmTk/VBw4v3eFV1I/AAAAAAAAI3Y/vUvDAvbYZ_0/s1600/matrix%2Bye%C5%9Fil%2Byaz%C4%B1lar.gif);
    background-position: center;
    background-repeat: repeat;

}

#navbar-color {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}

#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}

#imagen{
    justify-content: center;
    align-items: center;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0px; 
    color: white;
  }
nav {
   color : white;
  }