body {
    background-color: black !important;
}

.boton-principal {
    background-color: #DEB522 !important;
    font: bold;
}

#navbar-color {
    background-color: rgb(8, 8, 8) !important;
    font-family: 'IBM Plex Sans', sans-serif;
}
.titulos {
    color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
}

.categorias a {
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 0% !important;
    background-color: rgb(8, 8, 8) !important;
}
.categorias>div {
    padding: 0.3% !important;
}

.boton {
    background-color: #DEB522 !important;
    color: black !important;
    font: bold;
}

video {
    height:175px !important;
    
}

.cat {
    height: 90px !important;
}


#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}

.boton-principal:hover {
    border: 2px solid black !important;
    color: rgb(20, 20, 20) !important;  
}